@import '@fontsource/roboto/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
}

* {
  @apply transition-all;
}

@layer utilities {
  /* Class is used for development purposes only */
  .dev {
    border: 1px solid red;
  }
}
